<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout_main}"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<title>마이페이지</title>

<!-- 관리자 css -->
<link href="/css/app.css" rel="stylesheet">
<link href="/css/style.css" rel="stylesheet">
<link href="/main/css/my_page_style.css" rel="stylesheet">
</head>
<body>
	<div layout:fragment="content">
		<div class="main">
			<main class="content">
				<div class="container-fluid p-0">
					<div class="row">

						<!-- 마이페이지 옆에 nav바 레이아웃으로 바꿈 -->
						<div class="col-md-4 col-xl-3">
							<div th:replace="fragments/main_mypage_nav::mypagenav"></div>
						</div>
						<!-- 마이페이지 옆에 nav바 레이아웃으로 바꿈 end -->

						<div class="col-md-8 col-xl-9">
							<div class="card minheight">
								<div class="card-header">
									<h2 class="d-inline-block" sec:authentication="principal.name"></h2>
									<h2 class="d-inline-block">님 반갑습니다.</h2>
								</div>
								<div class="row text-center justify-content-start">

									<div class="row">
										<div class="col-sm-12">
											<div class="card mb-3">
												<div class="card-header">
													<h5 class="card-title mb-0">Profile Details</h5>
												</div>
												<div class="card-body text-center">
													<img src="img/avatars/avatar-4.jpg" alt="Christina Mason"
														class="img-fluid rounded-circle mb-2" width="128"
														height="128">
													<h5 class="card-title mb-0">Christina Mason</h5>
													<div class="text-muted mb-2">Lead Developer</div>
													<div>
														 <a class="btn btn-primary btn-sm" href="#">내 정보 수정하기</a>
													</div>
												</div>
												<hr class="my-0">
												<div class="card-body">
													<h5 class="h6 card-title">About</h5>
													<ul class="list-unstyled mb-0">
														<li class="mb-1"><svg
																xmlns="http://www.w3.org/2000/svg" width="24"
																height="24" viewBox="0 0 24 24" fill="none"
																stroke="currentColor" stroke-width="2"
																stroke-linecap="round" stroke-linejoin="round"
																class="feather feather-home feather-sm me-1">
																<path d="M3 9l9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"></path>
																<polyline points="9 22 9 12 15 12 15 22"></polyline></svg>
															Lives in <a href="#">San Francisco, SA</a></li>

														<li class="mb-1"><svg
																xmlns="http://www.w3.org/2000/svg" width="24"
																height="24" viewBox="0 0 24 24" fill="none"
																stroke="currentColor" stroke-width="2"
																stroke-linecap="round" stroke-linejoin="round"
																class="feather feather-briefcase feather-sm me-1">
																<rect x="2" y="7" width="20" height="14" rx="2" ry="2"></rect>
																<path d="M16 21V5a2 2 0 0 0-2-2h-4a2 2 0 0 0-2 2v16"></path></svg>
															Works at <a href="#">GitHub</a></li>
														<li class="mb-1"><svg
																xmlns="http://www.w3.org/2000/svg" width="24"
																height="24" viewBox="0 0 24 24" fill="none"
																stroke="currentColor" stroke-width="2"
																stroke-linecap="round" stroke-linejoin="round"
																class="feather feather-map-pin feather-sm me-1">
																<path d="M21 10c0 7-9 13-9 13s-9-6-9-13a9 9 0 0 1 18 0z"></path>
																<circle cx="12" cy="10" r="3"></circle></svg> From <a href="#">Boston</a></li>
													</ul>
												</div>
												<hr class="my-0">
											</div>
										</div>
									</div>


									<div class="row">
										<div class="col-sm-6">

											<div class="card">
												<div class="card-body">
													<div class="row">
														<div class="col mt-0">
															<h5 class="card-title">내 정보</h5>
														</div>

														<div class="col-auto">
															<div class="stat text-primary">
																<i class="fa-solid fa-users"></i>
															</div>
														</div>
													</div>
													<h1 class="mt-1 mb-3">김용수</h1>
													<div class="mb-0"></div>
												</div>
											</div>

											<div class="card">
												<div class="card-body">
													<div class="row">
														<div class="col mt-0">
															<h5 class="card-title">내 마일리지</h5>
														</div>
														<div class="col-auto">
															<div class="stat text-primary">
																<i class="fa-solid fa-house-user"></i>
															</div>
														</div>
													</div>
													<h1 class="mt-1 mb-3">133명</h1>
													<div class="mb-0"></div>
												</div>
											</div>

										</div>
										<div class="col-sm-6">
											<div class="card">
												<div class="card-body">
													<div class="row">
														<div class="col mt-0">
															<h5 class="card-title">내가 들은 강의 수</h5>
														</div>

														<div class="col-auto">
															<div class="stat text-primary">
																<i class="fa-solid fa-chalkboard-user"></i>
															</div>
														</div>
													</div>
													<h1 class="mt-1 mb-3">0개</h1>
													<div class="mb-0"></div>
												</div>
											</div>
											<div class="card">
												<div class="card-body">
													<div class="row">
														<div class="col mt-0">
															<h5 class="card-title">내가 수강중인 강의 수</h5>
														</div>

														<div class="col-auto">
															<div class="stat text-primary">
																<i class="fa-solid fa-book-open-reader"></i>
															</div>
														</div>
													</div>
													<h1 class="mt-1 mb-3">0개</h1>
													<div class="mb-0"></div>
												</div>
											</div>
										</div>

										<div class="col-sm-6">
											<div class="card">
												<div class="card-body">
													<div class="row">
														<div class="col mt-0">
															<h5 class="card-title">나의 관심 강의</h5>
														</div>

														<div class="col-auto">
															<div class="stat text-primary">
																<i class="fa-solid fa-chalkboard-user"></i>
															</div>
														</div>
													</div>
													<h1 class="mt-1 mb-3">0개</h1>
													<div class="mb-0"></div>
												</div>
											</div>
										</div>

										<div class="col-sm-6">
											<div class="card">
												<div class="card-body">
													<div class="row">
														<div class="col mt-0">
															<h5 class="card-title">나의 상담 내역</h5>
														</div>

														<div class="col-auto">
															<div class="stat text-primary">
																<i class="fa-solid fa-chalkboard-user"></i>
															</div>
														</div>
													</div>
													<h1 class="mt-1 mb-3">0개</h1>
													<div class="mb-0"></div>
												</div>
											</div>
										</div>
									</div>

								</div>
							</div>
						</div>

					</div>
				</div>
			</main>

		</div>
	</div>

</body>
</html>