<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout_main}">
<head>
<meta charset="utf-8">
<title>참스터디</title>
<link href="/main/css/cs_style.css" rel="stylesheet">
</head>
<body>

	<div layout:fragment="content">
		<!-- Header Start -->
		<div>
			<div class="banner-size cs-main" onClick="location.href='/cs/index'"> 
<!-- 			<img class="banner-size" src="/main/img/cs-banner.jpg" alt="banner">  -->
				<!-- <div class="container py-5">
					<div class="row justify-content-center">
						<div class="col-lg-10 text-center">
							<h1 class="display-3 text-white main-title" onClick="location.href='/cs/index'">고객센터</h1>
							<nav aria-label="breadcrumb">
								<ol class="breadcrumb justify-content-center">
									<li class="breadcrumb-item"><a class="small-title" onClick="location.href='/cs/inform'">공지사항</a></li>
									<li class="breadcrumb-item"><a class="small-title" onClick="location.href='/cs/faq'">자주 묻는 질문</a></li>
									<li class="breadcrumb-item"><a class="small-title" onClick="location.href='/cs/qna'">1:1 문의</a></li>
								</ol>
							</nav>
						</div>
					</div>
				</div> -->
			</div>
		</div>
		<!-- Header End -->

		<!-- 공지사항 Start -->
		<div class="container-xxl py-5">
			<div class="container cs-wrapper">
				<div class="col-lg-12 col-md-12 wow">
					<div class="g-3 row">
							<div class="main__title">
	       						<h2 class="cs-title">공지사항</h2>
							</div>
						<div class="content content--notice">
							<div class="board board--article">
								<article class="article article-h">
									<!-- 타이틀 -->
									<header th:object="${csInformDto}">
										<h2 class="title-w">
											<span class="article__title">[[${csInformDto.title}]]</span>
										</h2>
										<div class="article__date" aria-label="등록일">
											<span>[[${csInformDto.update}]]</span>
											<span class="article__read me-2">조회수 [[${csInformDto.viewCount}]]</span>
										</div>
										<div class="article__read me-2">
										</div>
									</header>
									<!-- // 타이틀 -->
									<!-- 아티클 내용 -->
									<section class="article__data">
										<div class="fr-view">
											<p class="substance__area">[[${csInformDto.substance}]]</p>
										</div>
									</section>
									<div class="file__area" th:if="${not #lists.isEmpty(csInformFileList)}">
										<h5 >첨부파일</h5>
										<th:block th:each="informFile, status : ${csInformFileList}" class="download__file">
											<div class="mb-2">
												<a class="download__file" th:href="@{'C:/spring/ChamStudy' + ${informFile.fileUrl}}" download>[[${informFile.oriFileName}]]</a>
												<br/>
											</div>
										</th:block>
									</div>
									<!-- // 아티클 내용 -->
								</article>
								<div class="text-center">
									<button type="button" class="btn btn-primary mt-3 text-center" th:onclick="|location.href='@{/cs/inform/}'|">돌아가기</button>
								</div>
							</div>
						</div>
						<input type="hidden" th:name="${_csrf?.parameterName}"
							th:value="${_csrf?.token}">
					</div>
				</div>
			</div>
			<!-- 공지사항 End -->
		</div>
	</div>
</body>
</html>