@charset "UTF-8";

.swiper {
	width: 100%;
	height: 100%;
}

.swiper-slide {
	text-align: center;
	font-size: 18px;
	background: #fff;
	display: block;
	justify-content: center;
	align-items: center;
}

.swiper-slide img {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.swiper-slide {
	height: 350px;
}

.swiper-wrapper>div {
	overflow: hidden;
}

.title {
	text-align: left;
	padding: 5px;
	text-decoration: none;
	color: black;
	font-weight: bold;
	margin-top: 5px;
}

.name {
	text-align: left;
	padding: 5px;
	text-decoration: none;
	color: black;
}

.price {
	text-align: left;
	padding: 5px;
	text-decoration: none;
	color: #642F05;
	font-weight: bolder;
}

.swiper-img {
	height: 200px;
}

.swiper-a {
	text-decoration: none;
}

.swiper-button-prev, .swiper-button-next {
	background-color: #fff;
	opacity: 0.5;
	padding: 15px 5px;
	border-radius: 20px;
	color: black !important;
}

.swiper-button-prev:after, .swiper-button-next:after {
	font-size: 1.1rem !important;
	font-weight: 600 !important;
}

.swiper-slideA {
	height: 100px;
}

.swiper-slideA img {
	width: 50px;
	height: 50px;
	margin: 0 auto;
	object-fit: cover;
}

.swiper-slideA h5 {
	margin-top: 10px;
	font-size: 0.98rem;
}

.swiper-wrapper a {
	text-decoration: none;
	color: black;
}

.fa-star {
	color: #fdcc11;
}

.fa-star-half-alt {
	color: #fdcc11;
}

.star {
	text-align: left;
	padding: 5px;
}

.swiper-slideB {
	text-align: center;
	font-size: 18px;
	background: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #f9f9f9;
	border-radius: 8px;
}

.swiper-slideB img {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.mySwiperB {
	height: 400px;
}

.studentName {
	text-align: left;
	padding: 5px;
}

.className {
	text-align: left;
	padding: 5px;
}

.review {
	text-align: left;
	padding: 5px;
}

.text-primary {
	color: #ab6e3ecf !important;
	
}

/* .text-primary:hover {
	color: #642F05 !important;
	background-color: #642F05 !important;
} */

.btn:hover {
	background-color: #642F05!important;
	border: 1px solid #642F05!important;
}


.card-header {
	padding: inherit;
}

.page-header {
	background: url("/img/photos/banner2.jpg");
	background-size : cover;
	height: 400px;
	background-position: 0 -705px;
}

