@charset "UTF-8";

.wrap{
	display: flex;
	flex: 0 0 auto;
	height: 100vh;
	width: 100%;
	overflow: hidden;
}

.main {
	width: 100%;
	transition: 0.5s;
	margin-left : -100px;
	
}

.sidebar{
	
	width:300px;
  	transition: 0.5s;
  	position:relative;
}

.body{
	margin-bottom: 30px;
}

li.nav-item6 {
    /* border-top: 1px solid; */
    /* border-bottom: 1px solid; */
}

li.nav-item5 {
    margin-top: 20px;
}
.active{
	background: #ab6e3ecf !important;
}
.progress-bar{
	background: #ab6e3ecf !important;
}
video {
    display: block;
    margin: 0 auto;
    margin-top: 60px;
    position: relative;
    width:900px;
    height: 510px;
}

li.nav-item1 {
	margin-top:30px;
    font-size: 2rem;
}

li.nav-item2 {
    font-size: 0.8rem;
}

button.navbar-toggler {
    border: none;
}
.btn-primary {
	background: #ab6e3ecf !important;  
	border:1px #ab6e3ecf !important;
	margin: 0 10px;
}

.btn-primary:hover {
	background: #642F05 !important;  
	border:1px #642F05 !important;
}
.nactive{
	background: #ab6e3ecf !important;
	opacity: 0.5;
	cursor: default;
}
.nactive:hover{
	background: #ab6e3ecf !important;
	opacity: 0.5;
}

#showbtn{
	display:none;
}

.footer {
    display: flex;
    justify-content: center;
    background-color: #696868;
    bottom: 0;
    position: fixed;
    width: 100vw;
    opacity: 69%;
    padding : 20px 0;
}

button.btn.btn-primary {
    background-color: #171717;
    border: none;
}

button.btn.before-lecture {
color: white;
}

button.btn.saw-lecture {
    color: white;
}

button.btn.next-lecture {
    color: white;
}

::before {
    margin-right: 10px;
}

body.body {
    background-color: black;
}
.pointer{
	cursor:pointer
}


