<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>

</head>
<body>
	<nav class="navbar navbar-expand navbar-light navbar-bg" th:fragment="header_top">
	<a class="sidebar-toggle js-sidebar-toggle">
		<i class="hamburger align-self-center"></i>
	</a>
	<div class="navbar-collapse collapse">
		<ul class="navbar-nav navbar-align">
			<li class="nav-item dropdown">
				<div class="nav-icon dropdown-toggle" id="alertsDropdown" data-bs-toggle="dropdown">
					<div class="position-relative">
						<i class="fa-regular fa-bell"></i>
						<span class="indicator">4</span>
					</div>
				</div>
			</li>
			<li class="nav-item dropdown">
				<div class="nav-icon dropdown-toggle" id="messagesDropdown" data-bs-toggle="dropdown">
					<div class="position-relative">
						<i class="fa-regular fa-message"></i>
					</div>
				</div>
			</li>
			<li class="nav-item" sec:authorize="isAnonymous()">
				<div class="nav-icon">
					<div class="position-relative jua">
						<a class="topH" href="/users/signIn">로그인</a>
					</div>
				</div>
			</li>
			<li class="nav-item" sec:authorize="isAuthenticated()" >
				<div class="nav-icon" id="messagesDropdown">
					<div class="position-relative jua topH">
						<span sec:authentication="principal.name"></span><span>님 반갑습니다.</span>
					</div>
				</div>
			</li>
			<li class="nav-item" sec:authorize="isAuthenticated()" >
				<div class="nav-icon">
					<div class="position-relative jua">
						<a class="topH" href="/users/logout">로그아웃</a>
					</div>
				</div>
			</li>
		</ul>
	</div>
	</nav>
</body>
</html>