<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link href="/main/css/my_page_style.css" rel="stylesheet">
</head>
<body>
	<div th:fragment="mypagenav">
		<div>
			<div class="card mb-3">
				<div class="card-header">
					<h5 class="card-title mb-0">Profile Details</h5>
				</div>
				<div class="card-body text-center">

					<h6 class="section-title bg-white text-start text-primary pe-3" style="color:#ab6e3ecf!important;">my
						page</h6>
					<h1 sec:authentication="principal.name" class="mb-4"></h1>
				</div>
				<hr class="my-0" />
				<div class="card-body">
					<h1 class="section-title bg-white text-start text-primary pe-3" style="color:#ab6e3ecf!important;">menu</h1>
					<hr class="my-4" />
					<ul class="list-unstyled mb-0">
						<li class="mb-4"><a href="/mypage/updatepage"><h4>내 정보수정</h4></a></li>
						<hr class="my-4" />
						<li class="mb-4"><a href="/mypage/certificate"><h4>수료증 확인</h4></a></li>
						<hr class="my-4" />
						<li class="mb-4">
							<div class="accordion" id="accordionExample">
								<div class="accordion-item accor-card">
									<h4 class="accordion-header accor-header">
										<button class="accordion-button accor-btn accor-font"
											type="button" data-bs-toggle="collapse"
											data-bs-target="#collapseOne" aria-expanded="true"
											aria-controls="collapseOne">나의 강의실</button>
									</h4>
									<div id="collapseOne" class="accordion-collapse collapse show"
										aria-labelledby="headingOne"
										data-bs-parent="#accordionExample">
										<div class="accordion-body accor-body">
											<ul class="list-unstyled mb-0">
												<li class="mb-4"><a href="/mypage/myclass"><h4>학습중</h4></a>
												</li>
												<li class="mb-4"><a href="/mypage/completion"><h4>완강</h4></a>
												</li>
											</ul>
										</div>
									</div>
								</div>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</body>
</html>