<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout_main}">
<head>
<meta charset="UTF-8">
<title>마이페이지</title>
</head>
<body>
	<div layout:fragment="content">
	<div class="w-auto p-3" style="background-color: #eee;">Width auto
		<div>
			<nav class="nav flex-column">
				<a class="nav-link active" aria-current="page" href="#">Active</a> <a
					class="nav-link" href="#">Link</a> <a class="nav-link" href="#">Link</a>
				<a class="nav-link disabled">Disabled</a>
			</nav>

		</div>

	</div>
	</div>
</body>
</html>