<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout_main}">
<head>
<meta charset="UTF-8">
<title>마이페이지</title>
</head>
<body>
	<div layout:fragment="content">
		<div class="container">
			<div class="my-5"><h1>마이페이지</h1></div>
			<div style="border: 1px solid black; height: 800px;">
				<div class="row">

					<div class="col-3"></div>

					<div class="col-9">dasd</div>
				</div>

			</div>
		</div>

	</div>
</body>
</html>