<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout_main}">
<head>
<meta charset="utf-8">
<title>참스터디</title>
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css" />

<style>
.swiper {
	width: 100%;
	height: 100%;
}

.swiper-slide {
	text-align: center;
	font-size: 18px;
	background: #fff;
	display: block;
	justify-content: center;
	align-items: center;
}

.swiper-slide img {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.swiper-slide {
	height: 350px;
}
.swiper-wrapper > div {
	border: 1px solid black;
	overflow: hidden;
}
.title {
	text-align: left;
	padding: 5px;	
}
.name {
	text-align: left;
	padding: 5px;
	margin-bottom: 10px;
}

.price {
	text-align: left;
	padding: 5px;
}
.swiper-img {
	height: 200px;
}
</style>
</head>
<body>
	<div layout:fragment="content">

		<!-- Spinner Start -->
		<div id="spinner"
			class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
			<div class="spinner-border text-primary"
				style="width: 3rem; height: 3rem;" role="status">
				<span class="sr-only">Loading...</span>
			</div>
		</div>
		<!-- Spinner End -->

		<!-- About Start -->
		<div class="container-xxl py-5">
			<div class="container">
				<div class="row g-5">
					<div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s"
						style="min-height: 400px;">
						<div class="position-relative h-100">
							<img class="img-fluid position-absolute w-100 h-100"
								src="/main/img/about.jpg" alt="" style="object-fit: cover;">
						</div>
					</div>
					<div class="col-lg-6 wow fadeInUp" data-wow-delay="0.3s">
						<h6 class="section-title bg-white text-start text-primary pe-3">Welcome</h6>
						<h1 class="mb-4">Welcome to ChamStudy</h1>
						<p class="mb-4">커뮤니티형 온라인 강의 플랫폼7,911개 강의에서 3,140,275개의 수강 활동을
							통해 배움을 즐겁게 만들어 가고 있습니다.</p>
						<p class="mb-4">실제로 많은 온오프라인 학원들은 단기적 성과를 높이기 위해 잘나온 특정 후기만 노출
							하거나, 아예 숨겨버리는 경우가 많습니다. 반면 참스터디는 강의에 대한 후기, 학생수 등 정보를 투명하게 공개합니다.
							신뢰성을 바탕으로 학습자들이 더 좋은 컨텐츠를 선택하고 교육의 질을 높입니다.</p>
						<div class="row gy-2 gx-4 mb-4">
							<div class="col-sm-6">
								<p class="mb-0">
									<i class="fa fa-arrow-right text-primary me-2"></i>Skilled
									Instructors
								</p>
							</div>
							<div class="col-sm-6">
								<p class="mb-0">
									<i class="fa fa-arrow-right text-primary me-2"></i>Online
									Classes
								</p>
							</div>
							<div class="col-sm-6">
								<p class="mb-0">
									<i class="fa fa-arrow-right text-primary me-2"></i>International
									Certificate
								</p>
							</div>
							<div class="col-sm-6">
								<p class="mb-0">
									<i class="fa fa-arrow-right text-primary me-2"></i>Skilled
									Instructors
								</p>
							</div>
							<div class="col-sm-6">
								<p class="mb-0">
									<i class="fa fa-arrow-right text-primary me-2"></i>Online
									Classes
								</p>
							</div>
							<div class="col-sm-6">
								<p class="mb-0">
									<i class="fa fa-arrow-right text-primary me-2"></i>International
									Certificate
								</p>
							</div>
						</div>
						<a class="btn btn-primary py-3 px-5 mt-2" href="">Read More</a>
					</div>
				</div>
			</div>
		</div>
		<!-- About End -->

		<div class="container-xxl py-5">
			<div class="row justify-content-center">
				<div class="col-md-8 d-flex justify-content-center">
					<input class="form-control border-1  py-3 ps-4 pe-5" type="text"
						placeholder="검색어 입력">
				</div>
			</div>
		</div>



		<!-- Service Start -->

		<div class="container-xxl py-5">
			<div class="text-center wow fadeInUp" data-wow-delay="0.1s">
				<h6 class="section-title bg-white text-center text-primary px-3">Categories</h6>
				<h1 class="mb-5">Courses Categories</h1>
			</div>
			<div class="container">
				<div class="row g-8">
					<div class="col-lg-1 col-sm-1 wow fadeInUp" data-wow-delay="0.1s">
						<div class="service-item text-center pt-2">
							<a href="">
								<div class="p-2">
									<i class="fa fa-2x fa-graduation-cap text-primary mb-2"></i>
									<p class="mb-2">#코딩</p>
								</div>
							</a>
						</div>
					</div>

					<div class="col-lg-1 col-sm-1 wow fadeInUp" data-wow-delay="0.1s">
						<div class="service-item text-center pt-2">
							<a href="">
								<div class="p-2">
									<i class="fa fa-2x fa-graduation-cap text-primary mb-2"></i>
									<p class="mb-2">일본어</p>
								</div>
							</a>
						</div>
					</div>

					<div class="col-lg-1 col-sm-1 wow fadeInUp" data-wow-delay="0.1s">
						<div class="service-item text-center pt-2">
							<a href="">
								<div class="p-2">
									<i class="fa fa-2x fa-graduation-cap text-primary mb-2"></i>
									<p class="mb-2">#UI</p>
								</div>
							</a>
						</div>
					</div>

					<div class="col-lg-1 col-sm-1 wow fadeInUp" data-wow-delay="0.1s">
						<div class="service-item text-center pt-2">
							<a href="">
								<div class="p-2">
									<i class="fa fa-2x fa-graduation-cap text-primary mb-2"></i>
									<p class="mb-2">#영어</p>
								</div>
							</a>
						</div>
					</div>

					<div class="col-lg-1 col-sm-1 wow fadeInUp" data-wow-delay="0.1s">
						<div class="service-item text-center pt-2">
							<a href="">
								<div class="p-2">
									<i class="fa fa-2x fa-graduation-cap text-primary mb-2"></i>
									<p class="mb-2">#수학</p>
								</div>
							</a>
						</div>
					</div>

					<div class="col-lg-1 col-sm-1 wow fadeInUp" data-wow-delay="0.1s">
						<div class="service-item text-center pt-2">
							<a href="">
								<div class="p-2">
									<i class="fa fa-2x fa-graduation-cap text-primary mb-2"></i>
									<p class="mb-2">#스프링</p>
								</div>
							</a>
						</div>
					</div>

					<div class="col-lg-1 col-sm-1 wow fadeInUp" data-wow-delay="0.1s">
						<div class="service-item text-center pt-2">
							<a href="">
								<div class="p-2">
									<i class="fa fa-2x fa-graduation-cap text-primary mb-2"></i>
									<p class="mb-2">#파이썬</p>
								</div>
							</a>
						</div>
					</div>

					<div class="col-lg-1 col-sm-1 wow fadeInUp" data-wow-delay="0.1s">
						<div class="service-item text-center pt-2">
							<a href="">
								<div class="p-2">
									<i class="fa fa-2x fa-graduation-cap text-primary mb-2"></i>
									<p class="mb-2">#보안</p>
								</div>
							</a>
						</div>
					</div>

					<div class="col-lg-1 col-sm-1 wow fadeInUp" data-wow-delay="0.1s">
						<div class="service-item text-center pt-2">
							<a href="">
								<div class="p-2">
									<i class="fa fa-2x fa-graduation-cap text-primary mb-2"></i>
									<p class="mb-2">#프론트</p>
								</div>
							</a>
						</div>
					</div>

					<div class="col-lg-1 col-sm-1 wow fadeInUp" data-wow-delay="0.1s">
						<div class="service-item text-center pt-2">
							<a href="">
								<div class="p-2">
									<i class="fa fa-2x fa-graduation-cap text-primary mb-2"></i>
									<p class="mb-2">#엑셀</p>
								</div>
							</a>
						</div>
					</div>

					<div class="col-lg-1 col-sm-1 wow fadeInUp" data-wow-delay="0.1s">
						<div class="service-item text-center pt-2">
							<a href="">
								<div class="p-2">
									<i class="fa fa-2x fa-graduation-cap text-primary mb-2"></i>
									<p class="mb-2">#데이터</p>
								</div>
							</a>
						</div>
					</div>

					<div class="col-lg-1 col-sm-1 wow fadeInUp" data-wow-delay="0.1s">
						<div class="service-item text-center pt-2">
							<a href="">
								<div class="p-2">
									<i class="fa fa-2x fa-graduation-cap text-primary mb-2"></i>
									<p class="mb-2">#AI</p>
								</div>
							</a>
						</div>
					</div>


				</div>
			</div>
		</div>
		<!-- Service End -->



		<!-- Categories Start -->
		<div class="container-xxl py-5 category">
			<div class="container">
				<div class="text-center wow fadeInUp" data-wow-delay="0.1s">
					<h6 class="section-title bg-white text-center text-primary px-3">진행중인
						강의</h6>
					<h1 class="mb-5">Courses video</h1>
				</div>
				<div class="row g-3">
					<!-- 슬라이더 -->
					<div class="swiper mySwiper">
						<div class="swiper-wrapper">
							<div class="swiper-slide">
							<a href="#">
							<div class="swiper-img"><img src="/main/img/about.jpg"></div>
							<div class="title">강의제목</div>
							<div class="name">강사명</div>
							<div class="price">25000원!</div>
							</a>
							</div>
							<div class="swiper-slide">Slide 2</div>
							<div class="swiper-slide">Slide 3</div>
						</div>
						<div class="swiper-pagination"></div>
					</div>
				</div>
			</div>
		</div>
		<!-- Categories Start -->


		<!-- Courses Start -->
		<div class="container-xxl py-5">
			<div class="container">
				<div class="text-center wow fadeInUp" data-wow-delay="0.1s">
					<h6 class="section-title bg-white text-center text-primary px-3">Courses</h6>
					<h1 class="mb-5">Popular Courses</h1>
				</div>
				<div class="row g-4 justify-content-center">
					<div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
						<div class="course-item bg-light">
							<div class="position-relative overflow-hidden">
								<img class="img-fluid" src="/main/img/course-1.jpg" alt="">
								<div
									class="w-100 d-flex justify-content-center position-absolute bottom-0 start-0 mb-4">
									<a href="#"
										class="flex-shrink-0 btn btn-sm btn-primary px-3 border-end"
										style="border-radius: 30px 0 0 30px;">Read More</a> <a
										href="#" class="flex-shrink-0 btn btn-sm btn-primary px-3"
										style="border-radius: 0 30px 30px 0;">Join Now</a>
								</div>
							</div>
							<div class="text-center p-4 pb-0">
								<h3 class="mb-0">$149.00</h3>
								<div class="mb-3">
									<small class="fa fa-star text-primary"></small> <small
										class="fa fa-star text-primary"></small> <small
										class="fa fa-star text-primary"></small> <small
										class="fa fa-star text-primary"></small> <small
										class="fa fa-star text-primary"></small> <small>(123)</small>
								</div>
								<h5 class="mb-4">Web Design & Development Course for
									Beginners</h5>
							</div>
							<div class="d-flex border-top">
								<small class="flex-fill text-center border-end py-2"><i
									class="fa fa-user-tie text-primary me-2"></i>John Doe</small> <small
									class="flex-fill text-center border-end py-2"><i
									class="fa fa-clock text-primary me-2"></i>1.49 Hrs</small> <small
									class="flex-fill text-center py-2"><i
									class="fa fa-user text-primary me-2"></i>30 Students</small>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
						<div class="course-item bg-light">
							<div class="position-relative overflow-hidden">
								<img class="img-fluid" src="/main/img/course-2.jpg" alt="">
								<div
									class="w-100 d-flex justify-content-center position-absolute bottom-0 start-0 mb-4">
									<a href="#"
										class="flex-shrink-0 btn btn-sm btn-primary px-3 border-end"
										style="border-radius: 30px 0 0 30px;">Read More</a> <a
										href="#" class="flex-shrink-0 btn btn-sm btn-primary px-3"
										style="border-radius: 0 30px 30px 0;">Join Now</a>
								</div>
							</div>
							<div class="text-center p-4 pb-0">
								<h3 class="mb-0">$149.00</h3>
								<div class="mb-3">
									<small class="fa fa-star text-primary"></small> <small
										class="fa fa-star text-primary"></small> <small
										class="fa fa-star text-primary"></small> <small
										class="fa fa-star text-primary"></small> <small
										class="fa fa-star text-primary"></small> <small>(123)</small>
								</div>
								<h5 class="mb-4">Web Design & Development Course for
									Beginners</h5>
							</div>
							<div class="d-flex border-top">
								<small class="flex-fill text-center border-end py-2"><i
									class="fa fa-user-tie text-primary me-2"></i>John Doe</small> <small
									class="flex-fill text-center border-end py-2"><i
									class="fa fa-clock text-primary me-2"></i>1.49 Hrs</small> <small
									class="flex-fill text-center py-2"><i
									class="fa fa-user text-primary me-2"></i>30 Students</small>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
						<div class="course-item bg-light">
							<div class="position-relative overflow-hidden">
								<img class="img-fluid" src="/main/img/course-3.jpg" alt="">
								<div
									class="w-100 d-flex justify-content-center position-absolute bottom-0 start-0 mb-4">
									<a href="#"
										class="flex-shrink-0 btn btn-sm btn-primary px-3 border-end"
										style="border-radius: 30px 0 0 30px;">Read More</a> <a
										href="#" class="flex-shrink-0 btn btn-sm btn-primary px-3"
										style="border-radius: 0 30px 30px 0;">Join Now</a>
								</div>
							</div>
							<div class="text-center p-4 pb-0">
								<h3 class="mb-0">$149.00</h3>
								<div class="mb-3">
									<small class="fa fa-star text-primary"></small> <small
										class="fa fa-star text-primary"></small> <small
										class="fa fa-star text-primary"></small> <small
										class="fa fa-star text-primary"></small> <small
										class="fa fa-star text-primary"></small> <small>(123)</small>
								</div>
								<h5 class="mb-4">Web Design & Development Course for
									Beginners</h5>
							</div>
							<div class="d-flex border-top">
								<small class="flex-fill text-center border-end py-2"><i
									class="fa fa-user-tie text-primary me-2"></i>John Doe</small> <small
									class="flex-fill text-center border-end py-2"><i
									class="fa fa-clock text-primary me-2"></i>1.49 Hrs</small> <small
									class="flex-fill text-center py-2"><i
									class="fa fa-user text-primary me-2"></i>30 Students</small>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Courses End -->


		<!-- Team Start -->
		<div class="container-xxl py-5">
			<div class="container">
				<div class="text-center wow fadeInUp" data-wow-delay="0.1s">
					<h6 class="section-title bg-white text-center text-primary px-3">Instructors</h6>
					<h1 class="mb-5">Expert Instructors</h1>
				</div>
				<div class="row g-4">
					<div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
						<div class="team-item bg-light">
							<div class="overflow-hidden">
								<img class="img-fluid" src="/main/img/team-1.jpg" alt="">
							</div>
							<div class="position-relative d-flex justify-content-center"
								style="margin-top: -23px;">
								<div class="bg-light d-flex justify-content-center pt-2 px-1">
									<a class="btn btn-sm-square btn-primary mx-1" href=""><i
										class="fab fa-facebook-f"></i></a> <a
										class="btn btn-sm-square btn-primary mx-1" href=""><i
										class="fab fa-twitter"></i></a> <a
										class="btn btn-sm-square btn-primary mx-1" href=""><i
										class="fab fa-instagram"></i></a>
								</div>
							</div>
							<div class="text-center p-4">
								<h5 class="mb-0">Instructor Name</h5>
								<small>Designation</small>
							</div>
						</div>
					</div>
					<div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
						<div class="team-item bg-light">
							<div class="overflow-hidden">
								<img class="img-fluid" src="/main/img/team-2.jpg" alt="">
							</div>
							<div class="position-relative d-flex justify-content-center"
								style="margin-top: -23px;">
								<div class="bg-light d-flex justify-content-center pt-2 px-1">
									<a class="btn btn-sm-square btn-primary mx-1" href=""><i
										class="fab fa-facebook-f"></i></a> <a
										class="btn btn-sm-square btn-primary mx-1" href=""><i
										class="fab fa-twitter"></i></a> <a
										class="btn btn-sm-square btn-primary mx-1" href=""><i
										class="fab fa-instagram"></i></a>
								</div>
							</div>
							<div class="text-center p-4">
								<h5 class="mb-0">Instructor Name</h5>
								<small>Designation</small>
							</div>
						</div>
					</div>
					<div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
						<div class="team-item bg-light">
							<div class="overflow-hidden">
								<img class="img-fluid" src="/main/img/team-3.jpg" alt="">
							</div>
							<div class="position-relative d-flex justify-content-center"
								style="margin-top: -23px;">
								<div class="bg-light d-flex justify-content-center pt-2 px-1">
									<a class="btn btn-sm-square btn-primary mx-1" href=""><i
										class="fab fa-facebook-f"></i></a> <a
										class="btn btn-sm-square btn-primary mx-1" href=""><i
										class="fab fa-twitter"></i></a> <a
										class="btn btn-sm-square btn-primary mx-1" href=""><i
										class="fab fa-instagram"></i></a>
								</div>
							</div>
							<div class="text-center p-4">
								<h5 class="mb-0">Instructor Name</h5>
								<small>Designation</small>
							</div>
						</div>
					</div>
					<div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.7s">
						<div class="team-item bg-light">
							<div class="overflow-hidden">
								<img class="img-fluid" src="/main/img/team-4.jpg" alt="">
							</div>
							<div class="position-relative d-flex justify-content-center"
								style="margin-top: -23px;">
								<div class="bg-light d-flex justify-content-center pt-2 px-1">
									<a class="btn btn-sm-square btn-primary mx-1" href=""><i
										class="fab fa-facebook-f"></i></a> <a
										class="btn btn-sm-square btn-primary mx-1" href=""><i
										class="fab fa-twitter"></i></a> <a
										class="btn btn-sm-square btn-primary mx-1" href=""><i
										class="fab fa-instagram"></i></a>
								</div>
							</div>
							<div class="text-center p-4">
								<h5 class="mb-0">Instructor Name</h5>
								<small>Designation</small>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Team End -->


		<!-- Testimonial Start -->
		<div class="container-xxl py-5 wow fadeInUp" data-wow-delay="0.1s">
			<div class="container">
				<div class="text-center">
					<h6 class="section-title bg-white text-center text-primary px-3">Testimonial</h6>
					<h1 class="mb-5">Our Students Say!</h1>
				</div>
				<div class="owl-carousel testimonial-carousel position-relative">
					<div class="testimonial-item text-center">
						<img class="border rounded-circle p-2 mx-auto mb-3"
							src="/main/img/testimonial-1.jpg"
							style="width: 80px; height: 80px;">
						<h5 class="mb-0">Client Name</h5>
						<p>Profession</p>
						<div class="testimonial-text bg-light text-center p-4">
							<p class="mb-0">Tempor erat elitr rebum at clita. Diam dolor
								diam ipsum sit diam amet diam et eos. Clita erat ipsum et lorem
								et sit.</p>
						</div>
					</div>
					<div class="testimonial-item text-center">
						<img class="border rounded-circle p-2 mx-auto mb-3"
							src="/main/img/testimonial-2.jpg"
							style="width: 80px; height: 80px;">
						<h5 class="mb-0">Client Name</h5>
						<p>Profession</p>
						<div class="testimonial-text bg-light text-center p-4">
							<p class="mb-0">Tempor erat elitr rebum at clita. Diam dolor
								diam ipsum sit diam amet diam et eos. Clita erat ipsum et lorem
								et sit.</p>
						</div>
					</div>
					<div class="testimonial-item text-center">
						<img class="border rounded-circle p-2 mx-auto mb-3"
							src="/main/img/testimonial-3.jpg"
							style="width: 80px; height: 80px;">
						<h5 class="mb-0">Client Name</h5>
						<p>Profession</p>
						<div class="testimonial-text bg-light text-center p-4">
							<p class="mb-0">Tempor erat elitr rebum at clita. Diam dolor
								diam ipsum sit diam amet diam et eos. Clita erat ipsum et lorem
								et sit.</p>
						</div>
					</div>
					<div class="testimonial-item text-center">
						<img class="border rounded-circle p-2 mx-auto mb-3"
							src="/main/img/testimonial-4.jpg"
							style="width: 80px; height: 80px;">
						<h5 class="mb-0">Client Name</h5>
						<p>Profession</p>
						<div class="testimonial-text bg-light text-center p-4">
							<p class="mb-0">Tempor erat elitr rebum at clita. Diam dolor
								diam ipsum sit diam amet diam et eos. Clita erat ipsum et lorem
								et sit.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Testimonial End -->
		<script
			src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
		<script>
			var swiper = new Swiper(".mySwiper", {
				slidesPerView : 4,
				centeredSlides : true,
				spaceBetween : 30,
				grabCursor : true,
				pagination : {
					el : ".swiper-pagination",
					clickable : true,
				},
			});
		</script>
	</div>
</body>
</html>