<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout_main}">
<head>
<meta charset="utf-8">
<title>참스터디</title>
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
	
<style>


.swiper {
	width: 100%;
	height: 100%;
}

.swiper-slide {
	text-align: center;
	font-size: 18px;
	background: #fff;
	display: block;
	justify-content: center;
	align-items: center;
}

.swiper-slide img {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.swiper-slide {
	height: 350px;
}
.swiper-wrapper > div {
	overflow: hidden;
}
.title {
	text-align: left;
	padding: 5px;	
	text-decoration: none;
	color: black;
}
.name {
	text-align: left;
	padding: 5px;
	margin-bottom: 10px;
	text-decoration: none;
	color: black;
}

.price {
	text-align: left;
	padding: 5px;
	text-decoration: none;
}
.swiper-img {
	height: 200px;
}
.swiper-a {
	text-decoration: none;
}

.swiper-button-prev,
.swiper-button-next {
  background-color: #fff;
  opacity: 0.5;
  padding: 15px 5px;
  border-radius: 20px;
  color: black !important;
}

.swiper-button-prev:after,
.swiper-button-next:after {
  font-size: 1.1rem !important;
  font-weight: 600 !important;
}

.swiper-slideA {
	height: 100px;
}

.swiper-slideA img {
  width: 50px;
  height: 50px;
  margin: 0 auto;
  object-fit: cover;
}

.swiper-slideA h5 {
	margin-top: 10px;
	font-size: 0.98rem;
}

.swiper-wrapper a{
	text-decoration: none;
	color: black;
}

}


</style>
</head>
<body>
	<div layout:fragment="content">

		<!-- Spinner Start -->
		<div id="spinner"
			class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
			<div class="spinner-border text-primary"
				style="width: 3rem; height: 3rem;" role="status">
				<span class="sr-only">Loading...</span>
			</div>
		</div>
		<!-- Spinner End -->

		<!-- About Start -->
		<div class="container-xxl py-5">
			<div class="container">
				<div class="row g-5">
					<div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s"
						style="min-height: 400px;">
						<div class="position-relative h-100">
							<img class="img-fluid position-absolute w-100 h-100"
								src="/main/img/about.jpg" alt="" style="object-fit: cover;">
						</div>
					</div>
					<div class="col-lg-6 wow fadeInUp" data-wow-delay="0.3s">
						<h6 class="section-title bg-white text-start text-primary pe-3">Welcome</h6>
						<h1 class="mb-4">Welcome to ChamStudy</h1>
						<p class="mb-4">커뮤니티형 온라인 강의 플랫폼7,911개 강의에서 3,140,275개의 수강 활동을
							통해 배움을 즐겁게 만들어 가고 있습니다.</p>
						<p class="mb-4">실제로 많은 온오프라인 학원들은 단기적 성과를 높이기 위해 잘나온 특정 후기만 노출
							하거나, 아예 숨겨버리는 경우가 많습니다. 반면 참스터디는 강의에 대한 후기, 학생수 등 정보를 투명하게 공개합니다.
							신뢰성을 바탕으로 학습자들이 더 좋은 컨텐츠를 선택하고 교육의 질을 높입니다.</p>
						<div class="row gy-2 gx-4 mb-4">
							<div class="col-sm-6">
								<p class="mb-0">
									<i class="fa fa-arrow-right text-primary me-2"></i>Skilled
									Instructors
								</p>
							</div>
							<div class="col-sm-6">
								<p class="mb-0">
									<i class="fa fa-arrow-right text-primary me-2"></i>Online
									Classes
								</p>
							</div>
							<div class="col-sm-6">
								<p class="mb-0">
									<i class="fa fa-arrow-right text-primary me-2"></i>International
									Certificate
								</p>
							</div>
							<div class="col-sm-6">
								<p class="mb-0">
									<i class="fa fa-arrow-right text-primary me-2"></i>Skilled
									Instructors
								</p>
							</div>
							<div class="col-sm-6">
								<p class="mb-0">
									<i class="fa fa-arrow-right text-primary me-2"></i>Online
									Classes
								</p>
							</div>
							<div class="col-sm-6">
								<p class="mb-0">
									<i class="fa fa-arrow-right text-primary me-2"></i>International
									Certificate
								</p>
							</div>
						</div>
						<a class="btn btn-primary py-3 px-5 mt-2" href="">Read More</a>
					</div>
				</div>
			</div>
		</div>
		<!-- About End -->

		<!-- 검색창 -->
		<div class="container-xxl py-5">
			<div class="row justify-content-center">
				<div class="col-md-8 d-flex justify-content-center">
					<h3>배우고, 나누고, 성장하세요</h3>
				</div>
				<div class="col-md-8 d-flex justify-content-center">
					<input class="form-control border-1 py-3 ps-4 pe-5" type="text"
						placeholder="검색어 입력" >
					<button class="btn btn-primary">
		            <span class="icon"><i class="fas fa-search"></i></span>
		          </button>
				</div>
			</div>
		</div>



		<!-- Service Start -->

		<div class="container-xxl py-5" style="margin-top: -80px;">
			<div class="text-center wow fadeInUp" data-wow-delay="0.1s">
				<h6 class="section-title bg-white text-center text-primary px-3">Categories</h6>
				<h1 class="mb-5">Courses Categories</h1>
			</div>
<div class="container-xxl py-5" style="margin-top: -70px;">
        <div class="container">
            <div class="row g-12">
			   <div class="swiper mySwiperA">
			    <div class="swiper-wrapper ">
			      <div class="swiper-slide swiper-slideA"><a href="#"><img alt="" src="/img/icons/datascience.png"><h5>데이터</h5></a></div>
			      <div class="swiper-slide swiper-slideA"><a href="#"><img alt="" src="/img/icons/dev-ops.png"><h5>데브옵스</h5></a></div>
			      <div class="swiper-slide swiper-slideA"><a href="#"><img alt="" src="/img/icons/excel.png"><h5>엑셀</h5></a></div>
			      <div class="swiper-slide swiper-slideA"><a href="#"><img alt="" src="/img/icons/front-end.png"><h5>프론트</h5></a></div>
			      <div class="swiper-slide swiper-slideA"><a href="#"><img alt="" src="/img/icons/game.png"><h5>게임개발</h5></a></div>
			      <div class="swiper-slide swiper-slideA"><a href="#"><img alt="" src="/img/icons/icon-48x48.png"><h5>퍼블리셔</h5></a></div>
			      <div class="swiper-slide swiper-slideA"><a href="#"><img alt="" src="/img/icons/marketing.png"><h5>마케팅</h5></a></div>
			      <div class="swiper-slide swiper-slideA"><a href="#"><img alt="" src="/img/icons/mobile.png"><h5>모바일</h5></a></div>
			      <div class="swiper-slide swiper-slideA"><a href="#"><img alt="" src="/img/icons/python.png"><h5>파이썬</h5></a></div>
			      <div class="swiper-slide swiper-slideA"><a href="#"><img alt="" src="/img/icons/security.png"><h5>보안</h5></a></div>
			      <div class="swiper-slide swiper-slideA"><a href="#"><img alt="" src="/img/icons/spring.png"><h5>스프링</h5></a></div>
			      <div class="swiper-slide swiper-slideA"><a href="#"><img alt="" src="/img/icons/ux-ui.png"><h5>UI UX</h5></a></div>
			      <div class="swiper-slide swiper-slideA"><a href="#"><img alt="" src="/img/icons/work-skills.png"><h5>코딩테스트</h5></a></div>
			      <div class="swiper-slide swiper-slideA"><a href="#"><img alt="" src="/img/icons/_byMyself.png"><h5>부트캠프</h5></a></div>
			      <div class="swiper-slide swiper-slideA"><a href="#"><img alt="" src="/img/icons/byManage.png"><h5>대면캠프</h5></a></div>
			    </div>
			    <div class="swiper-paginationA"></div>
			    <div class="swiper-button-next"></div>
    			<div class="swiper-button-prev"></div>
			  </div>
                
            </div>
        </div>
    </div>
		</div>
		<!-- Service End -->

		<!-- Categories Start -->
		<!-- swiper -->
		<div class="container-xxl py-5 category" style="margin-top: -100px;">
			<div class="container">
				<div class="text-center wow fadeInUp" data-wow-delay="0.1s">
					<h6 class="section-title bg-white text-center text-primary px-3">무료강의</h6>
					<h1 class="mb-5">Courses free video</h1>
				</div>
				<div class="row g-3">
					<!-- 슬라이더 -->
					<div class="swiper mySwiper">
						<div class="swiper-wrapper">
							<div class="swiper-slide">
							<a class="swiper-a" href="#">
							<div class="swiper-img"><img src="/main/img/about.jpg"></div>
							<div class="title">강의제목</div>
							<div class="name">강사명</div>
							<div class="price">25000원!</div>
							</a>
							</div>
							
							<div class="swiper-slide">
							<a class="swiper-a" href="#">
							<div class="swiper-img"><img src="/main/img/about.jpg"></div>
							<div class="title">강의제목</div>
							<div class="name">강사명</div>
							<div class="price">25000원!</div>
							</a>
							</div>
							
							<div class="swiper-slide">
							<a class="swiper-a" href="#">
							<div class="swiper-img"><img src="/main/img/about.jpg"></div>
							<div class="title">강의제목</div>
							<div class="name">강사명</div>
							<div class="price">25000원!</div>
							</a>
							</div>
							
							<div class="swiper-slide">
							<a class="swiper-a" href="#">
							<div class="swiper-img"><img src="/main/img/about.jpg"></div>	
							<div class="title">강의제목</div>
							<div class="name">강사명</div>
							<div class="price">25000원!</div>
							</a>
							</div>
							
							<div class="swiper-slide">
							<a class="swiper-a" href="#">
							<div class="swiper-img"><img src="/main/img/about.jpg"></div>
							<div class="title">강의제목</div>
							<div class="name">강사명</div>
							<div class="price">25000원!</div>
							</a>
							</div>
							
														<div class="swiper-slide">
							<a class="swiper-a" href="#">
							<div class="swiper-img"><img src="/main/img/about.jpg"></div>
							<div class="title">강의제목</div>
							<div class="name">강사명</div>
							<div class="price">25000원!</div>
							</a>
							</div>
							
							
							
							
						</div>
						    <div class="swiper-button-next"></div>
    						<div class="swiper-button-prev"></div>
						<div class="swiper-pagination"></div>
					</div>
				</div>
			</div>
		</div>


		<!-- swiper -->
		<div class="container-xxl py-5 category" style="margin-top: -80px;">
			<div class="container">
				<div class="text-center wow fadeInUp" data-wow-delay="0.1s">
					<h6 class="section-title bg-white text-center text-primary px-3">진행중인
						강의</h6>
					<h1 class="mb-5">Courses video</h1>
				</div>
				<div class="row g-3">
					<!-- 슬라이더 -->
					<div class="swiper mySwiper">
						<div class="swiper-wrapper">
							<div class="swiper-slide">
							<a class="swiper-a" href="#">
							<div class="swiper-img"><img src="/main/img/about.jpg"></div>
							<div class="title">강의제목</div>
							<div class="name">강사명</div>
							<div class="price">25000원!</div>
							</a>
							</div>
							
							<div class="swiper-slide">
							<a class="swiper-a" href="#">
							<div class="swiper-img"><img src="/main/img/about.jpg"></div>
							<div class="title">강의제목</div>
							<div class="name">강사명</div>
							<div class="price">25000원!</div>
							</a>
							</div>
							
							<div class="swiper-slide">
							<a class="swiper-a" href="#">
							<div class="swiper-img"><img src="/main/img/about.jpg"></div>
							<div class="title">강의제목</div>
							<div class="name">강사명</div>
							<div class="price">25000원!</div>
							</a>
							</div>
							
							<div class="swiper-slide">
							<a class="swiper-a" href="#">
							<div class="swiper-img"><img src="/main/img/about.jpg"></div>
							<div class="title">강의제목</div>
							<div class="name">강사명</div>
							<div class="price">25000원!</div>
							</a>
							</div>
							
							<div class="swiper-slide">
							<a class="swiper-a" href="#">
							<div class="swiper-img"><img src="/main/img/about.jpg"></div>
							<div class="title">강의제목</div>
							<div class="name">강사명</div>
							<div class="price">25000원!</div>
							</a>
							</div>
							
							<div class="swiper-slide">
							<a class="swiper-a" href="#">
							<div class="swiper-img"><img src="/main/img/about.jpg"></div>
							<div class="title">강의제목</div>
							<div class="name">강사명</div>
							<div class="price">25000원!</div>
							</a>
							</div>
							
							
							
							
						</div>
						    <div class="swiper-button-next"></div>
    						<div class="swiper-button-prev"></div>
						<div class="swiper-pagination"></div>
					</div>
				</div>
			</div>
		</div>

		<div class="container">
            <div class="row g-5">
                <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s" style="min-height: 400px; visibility: visible; animation-delay: 0.1s; animation-name: fadeInUp;">
			         <div class="content_left">
			          <h1 class="title is-2">
			            <span id="count_user" style="color: #0d6efd">1,065,450</span> 명이 <br>참스터디와 함께합니다.
			          </h1>
			          <div class="text is-1">
			            학교에서 배우기 어렵거나 큰 비용을 <br>지불해야만 배울 수 있는 전문적인 지식들을 제공합니다.<br>
			   			오픈 플랫폼의 이점을 통해 다양성과 경제성을 모두 높입니다.
			          </div>
			          <div class="buttons">
			            <a class="btn btn-primary py-3 px-5 mt-2" href="#" style="margin-top: 200px;">공지사항 확인</a>
			            <a class="button space-inset-stretch-5" href="/request-to-inflearn"></a>
			          </div>
			        </div>
                </div>
                <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInUp;">
                
                	
                </div>
            </div>
        </div>

		<!-- Courses Start -->
		<div class="container-xxl py-5">
			<div class="container">
				<div class="text-center wow fadeInUp" data-wow-delay="0.1s">
					<h6 class="section-title bg-white text-center text-primary px-3">Courses</h6>
					<h1 class="mb-5">Popular Courses</h1>
				</div>
				<div class="row g-4 justify-content-center">
					<div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
						<div class="course-item bg-light">
							<div class="position-relative overflow-hidden">
								<img class="img-fluid" src="/main/img/course-1.jpg" alt="">
								<div
									class="w-100 d-flex justify-content-center position-absolute bottom-0 start-0 mb-4">
									<a href="#"
										class="flex-shrink-0 btn btn-sm btn-primary px-3 border-end"
										style="border-radius: 30px 0 0 30px;">Read More</a> <a
										href="#" class="flex-shrink-0 btn btn-sm btn-primary px-3"
										style="border-radius: 0 30px 30px 0;">Join Now</a>
								</div>
							</div>
							<div class="text-center p-4 pb-0">
								<h3 class="mb-0">$149.00</h3>
								<div class="mb-3">
									<small class="fa fa-star text-primary"></small> <small
										class="fa fa-star text-primary"></small> <small
										class="fa fa-star text-primary"></small> <small
										class="fa fa-star text-primary"></small> <small
										class="fa fa-star text-primary"></small> <small>(123)</small>
								</div>
								<h5 class="mb-4">Web Design & Development Course for
									Beginners</h5>
							</div>
							<div class="d-flex border-top">
								<small class="flex-fill text-center border-end py-2"><i
									class="fa fa-user-tie text-primary me-2"></i>John Doe</small> <small
									class="flex-fill text-center border-end py-2"><i
									class="fa fa-clock text-primary me-2"></i>1.49 Hrs</small> <small
									class="flex-fill text-center py-2"><i
									class="fa fa-user text-primary me-2"></i>30 Students</small>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
						<div class="course-item bg-light">
							<div class="position-relative overflow-hidden">
								<img class="img-fluid" src="/main/img/course-2.jpg" alt="">
								<div
									class="w-100 d-flex justify-content-center position-absolute bottom-0 start-0 mb-4">
									<a href="#"
										class="flex-shrink-0 btn btn-sm btn-primary px-3 border-end"
										style="border-radius: 30px 0 0 30px;">Read More</a> <a
										href="#" class="flex-shrink-0 btn btn-sm btn-primary px-3"
										style="border-radius: 0 30px 30px 0;">Join Now</a>
								</div>
							</div>
							<div class="text-center p-4 pb-0">
								<h3 class="mb-0">$149.00</h3>
								<div class="mb-3">
									<small class="fa fa-star text-primary"></small> <small
										class="fa fa-star text-primary"></small> <small
										class="fa fa-star text-primary"></small> <small
										class="fa fa-star text-primary"></small> <small
										class="fa fa-star text-primary"></small> <small>(123)</small>
								</div>
								<h5 class="mb-4">Web Design & Development Course for
									Beginners</h5>
							</div>
							<div class="d-flex border-top">
								<small class="flex-fill text-center border-end py-2"><i
									class="fa fa-user-tie text-primary me-2"></i>John Doe</small> <small
									class="flex-fill text-center border-end py-2"><i
									class="fa fa-clock text-primary me-2"></i>1.49 Hrs</small> <small
									class="flex-fill text-center py-2"><i
									class="fa fa-user text-primary me-2"></i>30 Students</small>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
						<div class="course-item bg-light">
							<div class="position-relative overflow-hidden">
								<img class="img-fluid" src="/main/img/course-3.jpg" alt="">
								<div
									class="w-100 d-flex justify-content-center position-absolute bottom-0 start-0 mb-4">
									<a href="#"
										class="flex-shrink-0 btn btn-sm btn-primary px-3 border-end"
										style="border-radius: 30px 0 0 30px;">Read More</a> <a
										href="#" class="flex-shrink-0 btn btn-sm btn-primary px-3"
										style="border-radius: 0 30px 30px 0;">Join Now</a>
								</div>
							</div>
							<div class="text-center p-4 pb-0">
								<h3 class="mb-0">$149.00</h3>
								<div class="mb-3">
									<small class="fa fa-star text-primary"></small> <small
										class="fa fa-star text-primary"></small> <small
										class="fa fa-star text-primary"></small> <small
										class="fa fa-star text-primary"></small> <small
										class="fa fa-star text-primary"></small> <small>(123)</small>
								</div>
								<h5 class="mb-4">Web Design & Development Course for
									Beginners</h5>
							</div>
							<div class="d-flex border-top">
								<small class="flex-fill text-center border-end py-2"><i
									class="fa fa-user-tie text-primary me-2"></i>John Doe</small> <small
									class="flex-fill text-center border-end py-2"><i
									class="fa fa-clock text-primary me-2"></i>1.49 Hrs</small> <small
									class="flex-fill text-center py-2"><i
									class="fa fa-user text-primary me-2"></i>30 Students</small>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Courses End -->


		<!-- Team Start -->
		<div class="container-xxl py-5">
			<div class="container">
				<div class="text-center wow fadeInUp" data-wow-delay="0.1s">
					<h6 class="section-title bg-white text-center text-primary px-3">Instructors</h6>
					<h1 class="mb-5">Expert Instructors</h1>
				</div>
				<div class="row g-4">
					<div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
						<div class="team-item bg-light">
							<div class="overflow-hidden">
								<img class="img-fluid" src="/main/img/team-1.jpg" alt="">
							</div>
							<div class="position-relative d-flex justify-content-center"
								style="margin-top: -23px;">
								<div class="bg-light d-flex justify-content-center pt-2 px-1">
									<a class="btn btn-sm-square btn-primary mx-1" href=""><i
										class="fab fa-facebook-f"></i></a> <a
										class="btn btn-sm-square btn-primary mx-1" href=""><i
										class="fab fa-twitter"></i></a> <a
										class="btn btn-sm-square btn-primary mx-1" href=""><i
										class="fab fa-instagram"></i></a>
								</div>
							</div>
							<div class="text-center p-4">
								<h5 class="mb-0">Instructor Name</h5>
								<small>Designation</small>
							</div>
						</div>
					</div>
					<div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
						<div class="team-item bg-light">
							<div class="overflow-hidden">
								<img class="img-fluid" src="/main/img/team-2.jpg" alt="">
							</div>
							<div class="position-relative d-flex justify-content-center"
								style="margin-top: -23px;">
								<div class="bg-light d-flex justify-content-center pt-2 px-1">
									<a class="btn btn-sm-square btn-primary mx-1" href=""><i
										class="fab fa-facebook-f"></i></a> <a
										class="btn btn-sm-square btn-primary mx-1" href=""><i
										class="fab fa-twitter"></i></a> <a
										class="btn btn-sm-square btn-primary mx-1" href=""><i
										class="fab fa-instagram"></i></a>
								</div>
							</div>
							<div class="text-center p-4">
								<h5 class="mb-0">Instructor Name</h5>
								<small>Designation</small>
							</div>
						</div>
					</div>
					<div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
						<div class="team-item bg-light">
							<div class="overflow-hidden">
								<img class="img-fluid" src="/main/img/team-3.jpg" alt="">
							</div>
							<div class="position-relative d-flex justify-content-center"
								style="margin-top: -23px;">
								<div class="bg-light d-flex justify-content-center pt-2 px-1">
									<a class="btn btn-sm-square btn-primary mx-1" href=""><i
										class="fab fa-facebook-f"></i></a> <a
										class="btn btn-sm-square btn-primary mx-1" href=""><i
										class="fab fa-twitter"></i></a> <a
										class="btn btn-sm-square btn-primary mx-1" href=""><i
										class="fab fa-instagram"></i></a>
								</div>
							</div>
							<div class="text-center p-4">
								<h5 class="mb-0">Instructor Name</h5>
								<small>Designation</small>
							</div>
						</div>
					</div>
					<div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.7s">
						<div class="team-item bg-light">
							<div class="overflow-hidden">
								<img class="img-fluid" src="/main/img/team-4.jpg" alt="">
							</div>
							<div class="position-relative d-flex justify-content-center"
								style="margin-top: -23px;">
								<div class="bg-light d-flex justify-content-center pt-2 px-1">
									<a class="btn btn-sm-square btn-primary mx-1" href=""><i
										class="fab fa-facebook-f"></i></a> <a
										class="btn btn-sm-square btn-primary mx-1" href=""><i
										class="fab fa-twitter"></i></a> <a
										class="btn btn-sm-square btn-primary mx-1" href=""><i
										class="fab fa-instagram"></i></a>
								</div>
							</div>
							<div class="text-center p-4">
								<h5 class="mb-0">Instructor Name</h5>
								<small>Designation</small>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Team End -->


		<!-- Testimonial Start -->
		<div class="container-xxl py-5 wow fadeInUp" data-wow-delay="0.1s">
			<div class="container">
				<div class="text-center">
					<h6 class="section-title bg-white text-center text-primary px-3">Testimonial</h6>
					<h1 class="mb-5">Our Students Say!</h1>
				</div>
				<div class="owl-carousel testimonial-carousel position-relative">
					<div class="testimonial-item text-center">
						<img class="border rounded-circle p-2 mx-auto mb-3"
							src="/main/img/testimonial-1.jpg"
							style="width: 80px; height: 80px;">
						<h5 class="mb-0">Client Name</h5>
						<p>Profession</p>
						<div class="testimonial-text bg-light text-center p-4">
							<p class="mb-0">Tempor erat elitr rebum at clita. Diam dolor
								diam ipsum sit diam amet diam et eos. Clita erat ipsum et lorem
								et sit.</p>
						</div>
					</div>
					<div class="testimonial-item text-center">
						<img class="border rounded-circle p-2 mx-auto mb-3"
							src="/main/img/testimonial-2.jpg"
							style="width: 80px; height: 80px;">
						<h5 class="mb-0">Client Name</h5>
						<p>Profession</p>
						<div class="testimonial-text bg-light text-center p-4">
							<p class="mb-0">Tempor erat elitr rebum at clita. Diam dolor
								diam ipsum sit diam amet diam et eos. Clita erat ipsum et lorem
								et sit.</p>
						</div>
					</div>
					<div class="testimonial-item text-center">
						<img class="border rounded-circle p-2 mx-auto mb-3"
							src="/main/img/testimonial-3.jpg"
							style="width: 80px; height: 80px;">
						<h5 class="mb-0">Client Name</h5>
						<p>Profession</p>
						<div class="testimonial-text bg-light text-center p-4">
							<p class="mb-0">Tempor erat elitr rebum at clita. Diam dolor
								diam ipsum sit diam amet diam et eos. Clita erat ipsum et lorem
								et sit.</p>
						</div>
					</div>
					<div class="testimonial-item text-center">
						<img class="border rounded-circle p-2 mx-auto mb-3"
							src="/main/img/testimonial-4.jpg"
							style="width: 80px; height: 80px;">
						<h5 class="mb-0">Client Name</h5>
						<p>Profession</p>
						<div class="testimonial-text bg-light text-center p-4">
							<p class="mb-0">Tempor erat elitr rebum at clita. Diam dolor
								diam ipsum sit diam amet diam et eos. Clita erat ipsum et lorem
								et sit.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Testimonial End -->
		<script
			src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
		<script>
			var swiper = new Swiper(".mySwiper", {
				slidesPerView : 5,
				spaceBetween : 10,
				grabCursor : true,
				pagination : { 	
					el : ".swiper-pagination",
					clickable : true,
				},
		        pagination: { // 호출(pager) 여부
		            el: ".swiper-pagination", //버튼을 담을 태그 설정
		            clickable: true, // 버튼 클릭 여부
		          },
				
		        navigation: {   // 버튼
		            nextEl: ".swiper-button-next",
		            prevEl: ".swiper-button-prev",
		          },

			});
			
		    var swiperA = new Swiper(".mySwiperA", {
		    	slidesPerView : 12,
				spaceBetween : 10,
				grabCursor : true,
				pagination : { 	
					el : ".swiper-pagination",
					clickable : true,
				},
		        pagination: { // 호출(pager) 여부
		            el: ".swiper-pagination", //버튼을 담을 태그 설정
		            clickable: true, // 버튼 클릭 여부
		          },
				
		        navigation: {   // 버튼
		            nextEl: ".swiper-button-next",
		            prevEl: ".swiper-button-prev",
		          },
		      });
			
			
			
		</script>
	</div>
</body>
</html>