<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout_main}">
<head>
<meta charset="utf-8">

<script>

</script>

<link href="/main/css/swiper.css" rel="stylesheet">
<script>
	$(function(){
		$(".sub").on("click", function(e){
			selsub(sub);
		})
	})
	
	function selsub(sub){
		location.href="/mainForm/class" + "?searchQuery=" + sub;
	}
</script>
<style>

.card {
	transition: 150ms;
}

.card:hover {
	transform: scale(1.02);
	box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
}

.page-header {
	background: url("/img/photos/banner2.jpg");
	background-color: white !important;
	background-size : contain;
	height: 400px;
	background-position: center;
    background-repeat: no-repeat;
}

</style>
<title>courses</title>
</head>
<body>

	<div layout:fragment="content">
   <!-- Header Start -->
    <div class="container-fluid bg-primary py-5 mb-5 page-header">
        <div class="container py-5">
            <div class="row justify-content-center">
                <div class="col-lg-10 text-center">
                </div>
            </div>
        </div>
    </div>
    <!-- Header End -->
    <!-- Courses Start -->
    <div class="container-xxl py-5">
        <div class="container">
            <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
                <h6 class="section-title bg-white text-center px-3" style="color:#642f05;">Courses</h6>
                <h1 class="mb-5">Popular Courses</h1>
            </div>
        </div>
		<div class="d-flex justify-content-center sub-category">
		    <div class="swiper-slideA ms-3 me-2 sub" onclick="selsub('all')"><img alt="" src="/img/icons/work-skills.png"><h5 class="text-center">전체</h5></div>
		    <div class="swiper-slideA ms-3 me-2 sub" onclick="selsub('JAVA')"><img alt="" src="/img/icons/ux-ui.png"><h5 class="text-center">JAVA</h5></div>
		    <div class="swiper-slideA ms-3 me-2 sub" onclick="selsub('Phython')"><img alt="" src="/img/icons/datascience.png"><h5 class="text-center">Phython</h5></div>
		    <div class="swiper-slideA ms-3 me-2 sub" onclick="selsub('C++')"><img alt="" src="/img/icons/dev-ops.png"><h5 class="text-center">C++</h5></div>
		    <div class="swiper-slideA ms-3 me-2 sub" onclick="selsub('HTML')"><img alt="" src="/img/icons/excel.png"><h5 class="text-center">HTML</h5></div>
		    <div class="swiper-slideA ms-3 me-2 sub" onclick="selsub('Mos')"><img alt="" src="/img/icons/front-end.png"><h5 class="text-center">Mos</h5></div>
		    <div class="swiper-slideA ms-3 me-2 sub" onclick="selsub('회계사')"><img alt="" src="/img/icons/game.png"><h5 class="text-center">회계사</h5></div>
		    <div class="swiper-slideA ms-3 me-2 sub" onclick="selsub('공무원')"><img alt="" src="/img/icons/icon-48x48.png"><h5 class="text-center">공무원</h5></div>
		    <div class="swiper-slideA ms-3 me-2 sub" onclick="selsub('한국사')"><img alt="" src="/img/icons/marketing.png"><h5 class="text-center">한국사</h5></div>
		    <div class="swiper-slideA ms-3 me-2 sub" onclick="selsub('영어')"><img alt="" src="/img/icons/mobile.png"><h5 class="text-center">영어</h5></div>
		    <div class="swiper-slideA ms-3 me-2 sub" onclick="selsub('중국어')"><img alt="" src="/img/icons/python.png"><h5 class="text-center">중국어</h5></div>
		    <div class="swiper-slideA ms-3 me-2 sub" onclick="selsub('일본어')"><img alt="" src="/img/icons/security.png"><h5 class="text-center">일본어</h5></div>
		    <div class="swiper-slideA ms-3 me-2 sub" onclick="selsub('기타')"><img alt="" src="/img/icons/spring.png"><h5 class="text-center">기타</h5></div>
		    <div class="swiper-slideA ms-3 me-2 sub" onclick="selsub('부트캠프')"><img alt="" src="/img/icons/_byMyself.png"><h5 class="text-center">부트캠프</h5></div>
		    <div class="swiper-slideA ms-3 me-2 sub" onclick="selsub('대면캠프')"><img alt="" src="/img/icons/byManage.png"><h5 class="text-center">대면캠프</h5></div>
		</div>

            <!-- 이미지 카드 -->
			<div class="row g-4 justify-content-center">

				<th:block th:each="classInfoDto: ${classInfoDtoList}">
				<div class="col-12 col-md-4" style="padding-bottom: 20px;">
					<div class="card">
						<div class="card-header p-0">
						<img class="card-img-top w-100 object-fit-cover" th:src="${classInfoDto.imgUrl}" th:alt="이미지" style="aspect-ratio: 4/3;">
						</div>
						<div class="card-body text-center p-4 pb-0">
						<h5 class="card-title mb-2">[[${classInfoDto.contentName}]]</h5>
							<p class="card-text">[[${classInfoDto.name}]]</p>
							<a th:href="@{/mainForm/detail/{classId}(classId=${classInfoDto.id})}" class="btn btn-lg btn-primary mb-3">상세페이지</a>
						</div>
					</div>
				</div>
				</th:block>

			</div>
		    </div>
			<!-- 이미지 카드 -->
    
    <!-- 페이징 -->
    	<div class="row" >
		<div class="col-12">
			<div class="dataTables_paginate paging_simple_numbers block-27 PP" id="datatables-orders_paginate"
				th:with="currPageIndex=${classInfoDtoList.number}, maxPage=${classInfoDtoList.totalPages}, start=(${(maxPage == 0) ? 1 : (currPageIndex/maxPage)*maxPage + 1}), end=(${(maxPage == 0) ? 1 : (start + (maxPage - 1) < maxPage ? start + (maxPage - 1) : maxPage)})">
				<ul class="pagination">
					<li class="paginate_button page-item previous mx-1" id="datatables-orders_previous" th:classappend="${maxPage == 0 || currPageIndex == 0}?'disabled'" >
						<a th:href="@{'/mainForm/class' + '?page=' + ${currPageIndex - 1}}"  aria-controls="datatables-orders" data-dt-idx="0" tabindex="0" class="page-link">&lt</a>
					</li>
					<th:block th:each="page: ${#numbers.sequence(start, end)}" >
					<li class="paginate_button page-item mx-1" th:classappend="${classInfoDtoList.number eq page-1}?'active':''">
						<a th:href="@{'/mainForm/class' + '?page=' + ${page-1}}" aria-controls="datatables-orders" data-dt-idx="1" tabindex="0" class="page-link">[[${page}]]</a>
					</li>
					</th:block>
					<li class="paginate_button page-item next" id="datatables-orders_next mx-1" th:classappend="${maxPage == 0 || currPageIndex == (maxPage - 1)}?'disabled'">
						<a th:href="@{'/mainForm/class' + '?page=' + ${currPageIndex + 1}}" aria-controls="datatables-orders" data-dt-idx="2" tabindex="0" class="page-link">&gt</a>
					</li>
				</ul>
			</div>
		</div>
		</div>
	 <!-- 페이징 -->
		</div>
</body>
</html>