@charset "UTF-8";

.dropdown.position-relative {
    display: flex !important;
}

svg.feather.feather-more-horizontal.align-middle {
    margin-left: 15px;
}

a {
    text-decoration: none !important;
    color: black;
}

button.Admin-Dtl-Back {
    width: 98px;
    height: 43px;
    border-radius: 25px;
    border: none;
    color: white;
    background-color: #B4B4B4;
        margin-right: 10px;
    
}

.Admin-Dtl-Delete {
	text-align: center;
    width: 98px;
    height: 43px;
    border: none;
    border-radius: 25px;
    color: white;
    background-color: black;
}

td {
    text-align: center;
}

tr {
    text-align: center;
}

div.dataTables_wrapper div.dataTables_paginate ul.pagination {
    justify-content: center;
    margin: 2px 0;
    white-space: nowrap;
    display: block;
}

div.dataTables_wrapper div.dataTables_paginate {
    margin: 0;
    text-align: center;
    white-space: nowrap;
}

.Admin-Dtl-Content1-1 {
    height: 30px;
    border-bottom: 1px solid black;
    width: 65vw;
}

button.Admin-Dtl-Delete {
    width: 58px;
    height: 38px;
    border-radius: 5px;
    background-color: #6c757d;
}

ul.pagination {
    justify-content: left !important;
}

.Admin-Dtl-Content2 {
	border-bottom: 1px solid black;
}

.Admin-Dtl-Content2-1 {
    font-size: 24px;
}

.Admin-Dtl-Content2-2 {
    position: absolute;
    right: 2vw;
    top: 125px;
}

.Admin-Dtl-Content2-2c {
    position: absolute;
    right: 3vw;
    top: 65px;
}

.Admin-Dtl-Content2-3 {
    width: 65vw;
}

.Admin-Dtl-Content3-1 {
    right: 2vw;
    position: absolute;
    margin-top: 15px;
}

.Admin-Dtl-Content3-1c {
    right: 2vw;
    position: absolute;
    margin-top: 15px;
}

.Admin-Dtl-Content4 {
    margin-top: 60px;
    font-size: 20px;
    min-height: 500px;
}



.Admin-dtl-Content5 {
	display:flex;
    margin-left: 68vw;
    margin-top: 40px;
    margin-bottom: 15px;
}

.Admin-dtl-Content5c {
	display:flex;
    margin-left: 64vw;
    margin-top: 40px;
    margin-bottom: 15px;
}
    
    
.Admin-Dtl-Content1 {
    font-size: 30px;
    width: 65vw;
    height: 70px;
    margin-top: 20px;
}

button.btn.btn-primary.me-3 {
    width: 90px;
}

.Admin-dtl-Content6 {
    width: 78vw;
}

.Admin-Comm-Dtl-Wrap {
    margin-left: 32px;
    margin-right: 32px;
}

body {
  background: #232323;
}
.accordion{
  margin: 40px 0;
}
.accordion .item {
    border: none;
    margin-bottom: 50px;
    background: none;
}
.t-p{
  color: rgb(193 206 216);
  padding: 40px 30px 0px 30px;
}
.accordion .item .item-header h2 button.btn.btn-link {
    background: #333435;
    color: white;
    border-radius: 0px;
    font-family: 'Poppins';
    font-size: 16px;
    font-weight: 400;
    line-height: 2.5;
    text-decoration: none;
}
.accordion .item .item-header {
    border-bottom: none;
    background: transparent;
    padding: 0px;
    margin: 2px;
}

.accordion .item .item-header h2 button {
    color: white;
    font-size: 20px;
    padding: 15px;
    display: block;
    width: 100%;
    text-align: left;
}

.accordion .item .item-header h2 i {
    float: right;
    font-size: 30px;
    color: #eca300;
    background-color: black;
    width: 60px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

button.btn.btn-link.collapsed i {
    transform: rotate(0deg);
}

button.btn.btn-link i {
    transform: rotate(180deg);
    transition: 0.5s;
}

button.Admin-Comment-Delete {
    width: 98px;
    height: 43px;
    border: none;
    border-radius: 25px;
    color: white;
    background-color: black;
        margin-left: 55vw;
}

.comment-wrap {
    border-bottom: 1px solid black;
    padding-bottom: 20px;
    padding-top: 20px;
}

.comment-td2\,3 {
    display: flex;
}

.comment-td2 {
    margin-right: 30px;
}

.comment-td4 {
    font-size: 13px;
}

button.Admin-reply-Delete {
    width: 58px;
    height: 38px;
    border: none;
    border-radius: 5px;
    color: white;
    background-color: #6c757d;
    margin-left: 70vw;
}
.reply-wrap {
    margin-left: 79px;
    margin-bottom: 25px;
    margin-top: 30px;
    
}

a.commLink-1 {
    margin-right: 20px;
}

a.commLink-2 {
    margin-right: 20px;
}

nav.navbar.navbar-expand.bg-light {
    margin-bottom: 15px;
}

button.Admin-Comment-Block {
    border: none;
    border-radius: 5px;
}

button.Admin-reply-Block {
    border: none;
    border-radius: 25px;
}

button#searchBtn {
    position: absolute;
    right: 10px;
    height: 40px !important;
}

input#searchQuery {
    position: absolute;
    right: 72px;
}

select#searchBy {
    position: absolute;
    right: 280px;
}

.substance__area {
	white-space: pre-line;
}

.filelist {
	border-bottom: 1px solid black;
}