@charset "UTF-8";

.dropdown.position-relative {
    display: flex !important;
}

svg.feather.feather-more-horizontal.align-middle {
    margin-left: 15px;
}

a {
    text-decoration: none !important;
    color: black;
}

button.Admin-Dtl-Back {
    width: 98px;
    height: 43px;
    border-radius: 25px;
    border: none;
    color: white;
    background-color: #B4B4B4;
}

.Admin-Dtl-Delete {
	text-align: center;
    width: 98px;
    height: 43px;
    border: none;
    border-radius: 25px;
    color: white;
    background-color: black;
}

.Admin-Dtl-Content1-1 {
    height: 30px;
    border-bottom: 1px solid black;
    width: 65vw;
}

ul.pagination {
    justify-content: left !important;
}

.Admin-Dtl-Content2-1 {
    font-size: 24px;
}

.Admin-Dtl-Content2-2 {
    position: absolute;
    right: 20vw;
    top: 192px;
}

.Admin-Dtl-Content2-3 {
    border-bottom: 1px solid black;
    width: 65vw;
}

.Admin-Dtl-Content3-1 {
    right: 20vw;
    position: absolute;
    margin-top: 15px;
}

.Admin-Dtl-Content4 {
    width: 65vw;
    margin-top: 60px;
    font-size: 20px;
}



.Admin-dtl-Content5 {
	display:flex;
    margin-left: 55vw;
    margin-top: 40px;
}
    
    
.Admin-Dtl-Content1 {
    font-size: 40px;
    border-bottom: 1px solid;
    width: 65vw;
    height: 70px;
}


.Admin-dtl-Content6 {
    width: 65vw;
}

body {
  background: #232323;
}
.accordion{
  margin: 40px 0;
}
.accordion .item {
    border: none;
    margin-bottom: 50px;
    background: none;
}
.t-p{
  color: rgb(193 206 216);
  padding: 40px 30px 0px 30px;
}
.accordion .item .item-header h2 button.btn.btn-link {
    background: #333435;
    color: white;
    border-radius: 0px;
    font-family: 'Poppins';
    font-size: 16px;
    font-weight: 400;
    line-height: 2.5;
    text-decoration: none;
}
.accordion .item .item-header {
    border-bottom: none;
    background: transparent;
    padding: 0px;
    margin: 2px;
}

.accordion .item .item-header h2 button {
    color: white;
    font-size: 20px;
    padding: 15px;
    display: block;
    width: 100%;
    text-align: left;
}

.accordion .item .item-header h2 i {
    float: right;
    font-size: 30px;
    color: #eca300;
    background-color: black;
    width: 60px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

button.btn.btn-link.collapsed i {
    transform: rotate(0deg);
}

button.btn.btn-link i {
    transform: rotate(180deg);
    transition: 0.5s;
}

button.Admin-Comment-Delete {
    width: 98px;
    height: 43px;
    border: none;
    border-radius: 25px;
    color: white;
    background-color: black;
        margin-left: 55vw;
}

.comment-wrap {
    border-bottom: 1px solid black;
    padding-bottom: 20px;
    padding-top: 20px;
}

.comment-td2\,3 {
    display: flex;
}

.comment-td2 {
    margin-right: 30px;
}

.comment-td4 {
    font-size: 13px;
}

button.Admin-reply-Delete {
    width: 98px;
    height: 43px;
    border: none;
    border-radius: 25px;
    color: white;
    background-color: black;
        margin-left: 51vw;
}

.reply-wrap {
    margin-left: 79px;
}

a.commLink-1 {
    margin-right: 20px;
}

a.commLink-2 {
    margin-right: 20px;
}

nav.navbar.navbar-expand.bg-light {
    margin-bottom: 15px;
}
