<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout_main}">
<head>
<meta charset="utf-8">
<link th:href="@{/css/community/comm.css}" rel="stylesheet">
<title>참스터디</title>

<th:block layout:fragment="script">
	<script th:inline="javascript">
		$(document).ready(function() {
			$("#searchBtn").on("click", function(e) {
				e.preventDefault();
				page(0);
			});
		});

		function page(page) {
			var searchBy = $("#searchBy").val();
			var searchQuery = $("#searchQuery").val();

			location.href = "/main/comm/" + page + "?searchBy=" + searchBy
					+ "&searchQuery=" + searchQuery;
		}
	</script>
</th:block>
</head>
<body>
	<div layout:fragment="content">
		<div class="body-wrap">
			<div class="side-body">
				<div class="side-1">
					<a class="side-a-1">자유주제</a>
				</div>
				<div class="side-2">
					<a class="side-a-2">질문 & 답변</a>
				</div>
			</div>
			<div class="main-body">
				<div class="search-wrap" th:object="${commSearchDto}"
					style="height: 40px;">
					<!-- 상품 등록일 -->
					<!-- 상품명, 등록자 선택 -->
					<select th:field="*{searchBy}" class="form-select"
						style="width: auto;">
						<option value="substance">글 내용</option>
						<option value="name">작성자</option>
						<option value="Title">글 제목</option>
					</select>
					<!-- 검색창 -->
					<input type="text" th:field="*{searchQuery}" class="search-input"
						placeholder="찾고 싶은것을 선택해 검색해보세요" style="width: auto;">
					<button id="searchBtn" type="submit" class="search-btn"
						style="height: 100%;">검색</button>
					<div class="write-btn">
						<a class="write-btn-a">글쓰기</a>
					</div>
				</div>
				<div class="boards">
					<th:block class="comm-each-wrap" th:each="comm, status: ${comms}">
						<div class="each">
							<div class="comm-wrap">
								<div class="comm-li1">
									<div class="comm-li1-1">[[${comm.viewCount}]]</div>
									<a th:href="'/adminForm/comm/dtl/'+${comm.id}"
										class="comm-li1-2">조회</a>
								</div>
								<div class="comm-wrap2">
								<div class="comm-li2">
									<a th:href="'/adminForm/comm/dtl/'+${comm.id}" class="comm-wrap-a2">[[${comm.Title}]]</a>
								</div>
								<div class="comm-li3-1">
									<a th:href="'/adminForm/comm/dtl/'+${comm.id}" class="comm-wrap-a3">[[${comm.userInfo.name}]]</a>
									<div class="comm-li3-2">
										<a th:href="'/adminForm/comm/dtl/'+${comm.id}" class="comm-wrap-a4">[[${comm.regDate}]]</a>
									</div>
								</div>
								</div>
							</div>
						</div>
					</th:block>
				</div>
			</div>
		</div>

	</div>
</body>
</html>