<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout_main}">
<head>
<meta charset="utf-8">
<link th:href="@{/css/community/Mento-comm.css}" rel="stylesheet">
<title>참스터디</title>

<th:block layout:fragment="script">
	<script th:inline="javascript">
		$(document).ready(function() {
			$("#searchBtn").on("click", function(e) {
				e.preventDefault();
				page(0);
			});
		});

		function page(page) {
			var searchBy = $("#searchBy").val();
			var searchQuery = $("#searchQuery").val();

			location.href = "/comm/mento/" + page + "?searchBy=" + searchBy
					+ "&searchQuery=" + searchQuery;
		}
	</script>
</th:block>
</head>
<body>
	<div layout:fragment="content">
		<div class="body-wrap">
			<div class="mento-header">
				<div class="header-font-wrap">
					<h2 class="mento-header1">멘토링</h2>
					<div class="mento-header2-1">업계 선배들 혹은 동료들과 인사이트를 나눠보세요</div>
					<div class="mento-header2-2">더 빨리,더 멀리 갈 수 있어요   (멘토는 수료한 강의가 있어야 할 수 있습니다.)</div>
					<div class="mento-write" th:if="${not #lists.isEmpty(classNameDto)}">
						<a class="mento-write-a" href="/comm/Mentocreate">멘토 지원하기</a>
					</div>
				</div>
			</div>
			<div class="side-body">
				<form class="search-wrap" th:object="${commSearchDto}"
					style="height: 40px;">
					<!-- 상품 등록일 -->
					<!-- 상품명, 등록자 선택 -->
					<select th:field="*{searchBy}" class="form-select"
						style="width: auto;">
						<option value="name">멘토</option>
						<option value="substance">내용</option>
						<option value="Title">글 제목</option>
					</select>
					<!-- 검색창 -->
					<input type="text" th:field="*{searchQuery}" class="search-input"
						placeholder="검색" style="width: auto;">
					<button id="searchBtn" type="submit" class="search-btn"
						style="height: 100%;">검색</button>
				</form>
			</div>
			<div class="main-body">
				<div class="boards">
					<th:block class="comm-each-wrap" th:each="comm, status: ${comms}">
						<div class="each">
							<div class="comm-wrap" th:onclick="|location.href='@{/comm/dtl/mento/}'+${comm.id}|">
								<div class="comm-li1">
									<a class="comm-wrap-a2" style="color: black; text-decoration: none;"  th:href="'/comm/dtl/mento/'+${comm.id}">[[${comm.Title}]]</a>
								</div>
								<div class="comm-li2">
									<div class="comm-li2-1">[[${comm.className}]]</div>
								</div>
								<div class="comm-li3">
									<a class="comm-wrap-a3" style="color: black; text-decoration: none;">[[${comm.userInfo.name}]]</a>
								</div>
							</div>
						</div>
					</th:block>
				</div>
				<div class="row">
					<nav
						th:with="start=${(comms.number/maxPage)*maxPage + 1},
									end=(${(comms.totalPages == 0) ? 1 : (start + (maxPage -1) < comms.totalPages ? start + (maxPage -1) : comms.totalPages)})">
						<div class="col-sm-12 col-md-12 ">
							<div class="dataTables_paginate paging_simple_numbers block-27"
								id="datatables-orders_paginate">
								<ul class="pagination">
									<li th:classappend="${comms.first}? 'disabled'"
										class="paginate_button page-item previous disabled mx-1"
										id="datatables-orders_previous"><a
										th:href="@{'/comm/mento' + '?searchQuery=' + ${commSearchDto.searchQuery} + '&page=' + ${comms.number-1}}"
										aria-controls="datatables-orders" data-dt-idx="0" tabindex="0"
										class="page-link">&lt </a></li>
									<li th:each="page: ${#numbers.sequence(start, end)}"
										th:classappend="${comms.number eq page-1}?'active':''"
										class="paginate_button page-item mx-1"><a
										th:href="@{'/comm/mento' + '?searchQuery=' + ${commSearchDto.searchQuery} + '&page=' + ${page-1}}"
										aria-controls="datatables-orders" data-dt-idx="1" tabindex="0"
										class="page-link">[[${page}]]</a></li>
									<li th:classappend="${comms.last}? 'disabled'"
										class="paginate_button page-item next"
										id="datatables-orders_next  mx-1"><a
										th:href="@{'/comm/mento' + '?searchQuery=' + ${commSearchDto.searchQuery} + '&page=' + ${comms.number+1}}"
										aria-controls="datatables-orders" data-dt-idx="3" tabindex="0"
										class="page-link">&gt</a></li>
								</ul>
							</div>
						</div>
					</nav>
				</div>
			</div>
		</div>
	</div>
</body>
</html>